/* FileUpload.module.css */
.container {
    display: flex;
    justify-content: space-around;
}

.buttonContainer {
    display: flex; /* Используем Flexbox для горизонтального расположения кнопок */
    justify-content: space-between; /* Равномерное распределение кнопок по ширине */
    margin-top: 16px; /* Отступ сверху для кнопок */
}

.btn {
    width: 350px; /* Фиксированная ширина для каждой кнопки */
    /*margin: 0 8px; /* Отступ между кнопками */
}