/* FileUpload.module.css */
.container {
    display: flex;
    justify-content: space-around;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.btn {
    width: 350px;
    font-weight: bold;
    font-size: medium;
}