/* FileUpload.module.css */
.container {
    display: flex;
    justify-content: space-around;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btn {
    width: 450px;
    font-weight: bold;
    font-size: medium;
    white-space: normal;
}

.rightAlignedButton {
    display: flex;
    justify-content: flex-end;
}